*.o
*.cmd
*.config
*.d
*.in
Kbuild
scripts/*
*.kernelrelease
autoconf.h
applets.h
usage.h
*.a
*.map
*.out
*.links
include/config/*
applets/applet_tables
applets/usage
applets/usage_pod
busybox_unstripped
include/NUM_APPLETS.h
include/applet_tables.h
include/bbconfigopts.h
include/bbconfigopts_bz2.h
include/common_bufsiz.h
include/common_bufsiz.h.method
include/embedded_scripts.h
include/usage_compressed.h
busybox
busybox.*
*.old
docs/
